
/* @media only screen and (max-width: 767px){ */
/* .main-container {
        padding: 150px 0px 90px;
        padding-top: 150px;
        padding-right: 0px;
        padding-bottom: 90px;
        padding-left: 0px;
} */
/* .main{
    background-color: transparent;
} */
.main-container {
    background-size: cover;
    position: relative;
    padding: 186px 0px 112px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color:transparent;
    

}
/* #div1{
    display:inline-block;
} */
.options{
    font-weight: normal;
    display: inline-flex;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.container {
    width: 100%;
    height:50%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}

.breadcrumb-area {
    position: relative;
    /* z-index: 2; */
}
/* @media only screen and (max-width: 767px){
    page-title {font-size: 35px;}
} */
.page-title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 15px;
    /* color: rgb(255, 255, 255); */
    /* color:#FDA94F; */
    color:orange;
}
/* #div1{ */
    /* flex-direction: row; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap-reverse; */
/* } */

.list-property{
    font-size: 16px;
    font-weight: 200;
    display: inline-block;
    position: relative;
    padding-left: 20px;
    list-style: none;
    color:#FDA94F;

}

#h3{
    font-size: 32px;
    line-height: 1.3833333333333333;
}

#h4{
    font-size: 25px;
    line-height: 1.3833333333333333;
}
.add-property-btn-wrap .btn {
    height: 44px;
    line-height: 44px;
    padding: 0 20px;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
/* #dv1{
    display: flex;
    
} */
.col-lg-6{
position: relative;
width: 100%;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}
/* @media (min-width: 768px){
.col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33.3333%;
    max-width: 33.333333%;
}} */
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
.single-intro {
    margin-bottom: 30px;
}

.single-intro.style-two .thumb {
    border-radius: 50%;
    font-size: 26px;
    font-weight: 500;
    font-family: var(--heading-font);
    color: #fff;
}
.single-intro .thumb {
    background:hsl(39, 100%, 50%);
    opacity:0.5;
    display: inline-block;
    height: 70px;
    width: 70px;
    line-height: 68px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 25px;
}
.single-intro .details .title {
    margin-bottom: 15px;
    font-weight: 700;
}
/* .col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
} */
@media (min-width: 992px){
.pt-lg-1, .py-lg-1 {
    padding-top: 0.25rem!important;
}}
h4 {
    font-size: 24px;
    line-height: 1.3380952380952381;
    color:#101425;
}
.add-property-btn-wrap .btn {
    height: 44px;
    line-height: 44px;
    padding: 0 20px;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
}
.btn-yellow {
    background:#fda94f;
    color: #fff;
}
.pd-top-100 {
    padding-top: 100px;
}
.section-title {
    margin-bottom: 45px;
    position: relative;
}

.rld-list-style {
    margin: 0;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
.rld-list-style li i {
    margin-right: 6px;
    background: rgba(253, 169, 79, 0.1);
    color:#fda94f;
    height: 24px;
    width: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 4px;
    padding-left: 2px;
}
.rld-list-style li {
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
    margin-bottom: 18px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
/* .col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
} */
.rld-single-input {
    position: relative;
}
.add-new-property-area .rld-single-input textarea {
    padding: 10px;
    border: 0 !important;
    border-bottom: 1px solid #D4D4D4 !important;
    border-radius: 0;
}
Image{
    vertical-align: middle;
    border-style: none;
}
.section-title {
    margin-bottom: 45px;
    position: relative;
    max-width: 100%;
}
.add-new-property-area .rld-single-select .single-select {
    padding: 0 35px 0 10px;
    border: 0 !important;
    border-bottom: 1px solid #D4D4D4 !important;
    border-radius: 0;
}
.section-title p {
    padding-top: 8px;
}
.add-new-property-area .rld-single-select .single-select {
    padding: 0 35px 0 10px;
    border: 0 !important;
    border-bottom: 1px solid #D4D4D4 !important;
    border-radius: 0;
}
@media only screen and (max-width: 575px){
.section-title {
    margin-bottom: 18px;
}}
@media only screen and (max-width: 991px){
h4 {
    font-size: 20px;
}}
.rld-single-select .single-select:before {
    content: '';
    /* background-image: url(../../assets/img/icons/2.png); */
    position: absolute;
    top: 19px;
    background-size: auto;
    height: 10px;
    width: 11px;
    right: 14px;
    left: auto;
    background-repeat: no-repeat;
}
/* <div className="row pd-top-80">
                                        <div className="col-md-4">
                                            <div class="section-title"><h4><Image src="/assests/square-check.svg" alt="img"/>Lease</h4></div>
                                        </div>
                                        <div className="col-md-8">
                                            <div className="row">
                                                <div class="col-12 mb-3">
                                                    <div class="rld-single-select">
                                                        <select class="select single-select">
                                                            <option value="1">Monthly Rent</option>
                                                            <option value="2">$700.00</option>
                                                            <option value="3">$500.00</option>
                                                            <option value="3">$900.00</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12 mb-3">
                                                    <div class="rld-single-select">
                                                        <select class="select single-select">
                                                            <option value="1">Security Deposit</option>
                                                            <option value="2">1 Month</option>
                                                            <option value="3">2 Month</option>
                                                            <option value="3">3 Month</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12 mb-3">
                                                    <div class="rld-single-select">
                                                        <select class="select single-select">
                                                            <option value="1">Lease Durations</option>
                                                            <option value="2">On Set</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> */
/* .Options1{
    font-weight: normal;
    display: inline-flex;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
} */



/* <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9 col-lg-10">
                        <div class="section-title text-center">
                            <h3>Add New Property</h3>
                        </div>
                            <div class="border-bottom mb-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="single-intro style-two text-center">
                                            <div class="thumb">1</div>
                                            <div class="details"><h4 class="title">Choose Listing</h4>
                                                
                                                </div>
                                                </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="single-intro style-two text-center">
                                                        <div class="thumb">2</div>
                                                        <div class="details"><h4 class="title">Add Information</h4> </div> 
                                                    </div>
                                                </div>
                                                        <div class="col-md-4">
                                                            <div class="single-intro style-two text-center">
                                                                <div class="thumb">3</div>
                                                                <div class="details"><h4 class="title">Publish</h4></div>
                                                            </div>
                                                        </div>
                                                            </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-5">
                                                                        <div class="section-title mb-md-0"><h4 class="pt-lg-1 pt-2">Categories</h4></div>
                                                                        </div>
                                                                        <div class="col-7 text-right add-property-btn-wrap">
                                                                            <a class="btn btn-yellow mr-md-3" href="#">Sell</a>
                                                                            <a class="btn btn-yellow" href="#">Rent</a>
                                                                        </div>
                                                                     </div>
                                                                            <div class="row pd-top-100">
                                                                                <div class="col-md-4">
                                                                                    <div class="section-title"><h4><img src="/react/realdeal/assets/img/icons/28.png" alt="img">House Name</h4></div>
                                                                                    </div>
                                                                                    <div class="col-md-8">
                                                                                        <div class="section-title"><h4>Jason Landville Apartments</h4><p>Lorem ipsum dolor sit amet, consectetur adipiscing </p></div>
                                                                                        <div class="row">
                                                                                            <div class="col-lg-6 mb-3">
                                                                                                <div class="rld-single-select">
                                                                                                    <select class="select single-select">
                                                                                                        <option value="1">Bedrooms</option>
                                                                                                        <option value="2">Bedrooms 1</option>
                                                                                                        <option value="3">Bedrooms 2</option>
                                                                                                        <option value="3">Bedrooms 3</option>
                                                                                                    </select>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-lg-6 mb-3">
                                                                                                <div class="rld-single-select">
                                                                                                    <select class="select single-select">
                                                                                                        <option value="1">Bathrooms</option>
                                                                                                        <option value="2">Bathrooms 1</option>
                                                                                                        <option value="3">Bathrooms 2</option>
                                                                                                        <option value="3">Bathrooms 3</option>
                                                                                                    </select>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-lg-6 mb-3">
                                                                                                <div class="rld-single-select">
                                                                                                    <select class="select single-select">
                                                                                                        <option value="1">Interior Size</option>
                                                                                                        <option value="2">Interior Size 1</option>
                                                                                                        <option value="3">Interior Size 2</option>
                                                                                                        <option value="3">Interior Size 3</option>
                                                                                                    </select>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-lg-6 mb-3">
                                                                                                <div class="rld-single-select">
                                                                                                    <select class="select single-select">
                                                                                                        <option value="1">Parking</option>
                                                                                                        <option value="2">Parking 1</option>
                                                                                                        <option value="3">Parking 2</option>
                                                                                                        <option value="3">Parking 3</option>
                                                                                                    </select>
                                                                                                </div>
                                                                                            </div>
                                                                                            </div>
                                                                                            </div>
                                                                                            </div>
                                                                                            <div class="row pd-top-80">
                                                                                                <div class="col-md-4">
                                                                                                    <div class="section-title">
                                                                                                        <h4><img src="/react/realdeal/assets/img/icons/29.png" alt="img">Address</h4>
                                                                                                        </div>
                                                                                                        </div>
                                                                                                        <div class="col-md-8">
                                                                                                            <div class="section-title"><h4>Address Here</h4>
                                                                                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing </p>
                                                                                                    </div>
                                                                                                    <div class="row">
                                                                                                        <div class="col-lg-6 mb-3">
                                                                                                            <div class="rld-single-select">
                                                                                                                <select class="select single-select">
                                                                                                                    <option value="1">Country</option>
                                                                                                                    <option value="2">Usa</option>
                                                                                                                    <option value="3">Canada</option>
                                                                                                                    <option value="3">China</option>
                                                                                                                </select>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <div class="col-lg-6 mb-3">
                                                                                                            <div class="rld-single-select">
                                                                                                                <select class="select single-select">
                                                                                                                    <option value="1">State</option>
                                                                                                                    <option value="2">State 1</option>
                                                                                                                    <option value="3">State 2</option>
                                                                                                                    <option value="3">State 3</option>
                                                                                                                </select>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <div class="col-lg-6 mb-3">
                                                                                                            <div class="rld-single-select">
                                                                                                                <select class="select single-select">
                                                                                                                    <option value="1">ZIP Code</option>
                                                                                                                    <option value="2">Interior Size 1</option>
                                                                                                                    <option value="3">Interior Size 2</option>
                                                                                                                    <option value="3">Interior Size 3</option>
                                                                                                                </select>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <div class="col-lg-6 mb-3">
                                                                                                            <div class="rld-single-select">
                                                                                                                <select class="select single-select">
                                                                                                                    <option value="1">Parking</option>
                                                                                                                    <option value="2">Parking 1</option>
                                                                                                                    <option value="3">Parking 2</option>
                                                                                                                    <option value="3">Parking 3</option>
                                                                                                                </select>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <div class="col-12 mb-2">
                                                                                                            <div class="rld-single-input">
                                                                                                                <textarea rows="10" placeholder="Message">
                                                                                                                </textarea>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <div class="col-12">
                                                                                                            <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d385276.5794773028!2d-115.51325829849152!3d41.1290219540523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan%20Francisco%2C%20CA%2C%20USA!5e0!3m2!1sen!2sbd!4v1578810733172!5m2!1sen!2sbd" height="350" allowfullscreen="" style="border: 0px;"></iframe>
                                                                                                        </div>
                                                                                                        </div>
                                                                                                        </div>
                                                                                                        </div>
                                                                                                        <div class="row pd-top-80">
                                                                                                            <div class="col-md-4">
                                                                                                                <div class="section-title"><h4><img src="/react/realdeal/assets/img/icons/30.png" alt="img">Lease</h4></div>
                                                                                                            </div>
                                                                                                            <div class="col-md-8">
                                                                                                                <div class="row">
                                                                                                                    <div class="col-12 mb-3">
                                                                                                                        <div class="rld-single-select">
                                                                                                                            <select class="select single-select">
                                                                                                                                <option value="1">Monthly Rent</option>
                                                                                                                                <option value="2">$700.00</option>
                                                                                                                                <option value="3">$500.00</option>
                                                                                                                                <option value="3">$900.00</option>
                                                                                                                            </select>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                    <div class="col-12 mb-3">
                                                                                                                        <div class="rld-single-select">
                                                                                                                            <select class="select single-select">
                                                                                                                                <option value="1">Security Diposite</option>
                                                                                                                                <option value="2">1 Month</option>
                                                                                                                                <option value="3">2 Month</option>
                                                                                                                                <option value="3">3 Month</option>
                                                                                                                            </select>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                    <div class="col-12 mb-3">
                                                                                                                        <div class="rld-single-select">
                                                                                                                            <select class="select single-select">
                                                                                                                                <option value="1">Lease Durations</option>
                                                                                                                                <option value="2">On Set</option>
                                                                                                                            </select>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                    </div>
                                                                                                                    </div>
                                                                                                                    </div>
                                                                                                                    <div class="row pd-top-80">
                                                                                                                        <div class="col-md-4">
                                                                                                                            <div class="section-title">
                                                                                                                                <h4><img src="/react/realdeal/assets/img/icons/31.png" alt="img">Amenities</h4>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                                <div class="col-md-8">
                                                                                                                                    <div class="row">
                                                                                                                                        <div class="col-sm-4">
                                                                                                                                            <ul class="rld-list-style mb-3 mb-sm-0">
                                                                                                                                                <li> <i class="fa fa-check"></i>  Attic</li>
                                                           
                                                                                                                                        
                                                                                                                                                <li><i class="fa fa-check"></i> Poll</li>
                                                                                                                                                <li><i class="fa fa-check"></i> Concierge</li>
                                                                                                                                                <li><i class="fa fa-check"></i> Basketball</li>
                                                                                                                                                <li><i class="fa fa-check"></i> Sprinklers</li>
                                                                                                                                            </ul>
                                                                                                                                        </div>
                                                                                                                                        <div class="col-sm-4">
                                                                                                                                            <ul class="rld-list-style mb-3 mb-sm-0">
                                                                                                                                                <li><i class="fa fa-check"></i> Recreation</li>
                                                                                                                                                <li><i class="fa fa-check"></i> Front Yard</li>
                                                                                                                                                <li><i class="fa fa-check"></i> Wine Cellar</li>
                                                                                                                                                <li><i class="fa fa-check"></i> Basketball</li>
                                                                                                                                                <li><i class="fa fa-check"></i> Fireplace</li>
                                                                                                                                            </ul>
                                                                                                                                        </div>
                                                                                                                                        <div class="col-sm-4">
                                                                                                                                            <ul class="rld-list-style mb-3 mb-sm-0">
                                                                                                                                                <li><i class="fa fa-check"></i> Balcony</li>
                                                                                                                                                <li><i class="fa fa-check"></i> Pound</li>
                                                                                                                                                <li><i class="fa fa-check"></i> Deck</li>
                                                                                                                                                <li><i class="fa fa-check"></i> 24x7 Sec</li>
                                                                                                                                                <li><i class="fa fa-check"></i> Indoor Game</li>
                                                                                                                                            </ul>
                                                                                                                                        </div>
                                                                                                                                        <div class="col-12 mt-5">
                                                                                                                                            <a class="btn btn-yellow" href="#">Publish property</a>
                                                                                                                                        </div>
                                                                                                                                    </div>
                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                                        </div>
                                                                                                                                        </div>
                                                                                                                                        </div> */